body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

.list-companies {
  padding: 50px;
}

.browser-add {
  padding: 100px;
  height: 60vh;
}

a.nav-link {
  font-size: 20px;
}

.call-to-action {
  position: absolute;
  left: 46%;
  width:
}

.center p, h1 {
text-align: center;
}

.is-invalid {
border: 1px solid red;
}

.error-message {
  margin: 5px 0;
  padding: 5px;
}

footer {
  background-color: #343a40!important;
  color: white;
}

.jumbotron {
  margin-bottom: 0px;
  background: red;
}

.main {
  height: 800px;
}

.main h1, h2, h3, p {
  padding: 50px;
}

.jumbotron-fluid {
  background-image: url("");
  background-color: black;
  background-size: cover;
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
}
