@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background: #2F3136;
  font-family: Montserrat;
}

h1 {
  font-size: 80px;
}

.bg-dark {
  background-color:  #202225 !important;
}

.form-control {
  border: 1px solid #2F3136;
}

.list-companies {
  padding: 50px;
}

.browser-add {
  padding: 100px;
  height: 60vh;
}

a.nav-link {
  font-size: 20px;
}

.call-to-action {
  position: absolute;
  left: 46%;
  width:
}

.center p, h1 {
text-align: center;
}

.is-invalid {
border: 1px solid red;
}

.error-message {
  margin: 5px 0;
  padding: 5px;
}

footer {
  background-color: #202225!important;
  color: white;
}

.jumbotron {
  margin-bottom: 0px;
  background: #202225;
}

.center-block {
  padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.main {
  height: 800px;
}

.main h1, h2, h3, p {
  padding: 50px;
}

.jumbotron-fluid {
  font-family: Montserrat;
  font-weight: 500 !important;
  background-image: url("");
  background-color: #15202B;
  background-size: cover;
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    position: relative;
    height: 40vh;
    display: flex;
    text-align: center;
}
