body, html {
  background-color: #202225 !important;
}

.one-col-sm {
 background-color: #2F3136;
}

.list-group-flush .list-group-item, .card-body, .card, .form-control{
  background-color: #36393F !important;
  color: white;
}
